*{
    margin:0;
    padding:0;
}
img{
    width:80px;
    height:80px;
    border:1px solid #999;
}
body{
    margin: 20px;
}
div{
    border:1px solid #999;
}
.left{
    position: relative;
    float:left;
    width:160px;
    padding:20px;
    background-color:white;
}
.right{
    float:right;
    width:80px;
    padding:20px;
    background-color:white;
}
.center{
    margin-left: 220px;
    margin-right:140px;
    padding:20px;
    background-color:white;
}
.container{
    background-color: #eee;
    overflow: hidden;
    padding:20px;
}
.margin{
    margin-bottom:15px;
}
.bottom{
    display: block;
    margin-bottom: 20px;
}
.two{
    position: absolute;
    top:20px;
    right:20px;
}
